$blue:#1F415A;
$green:#00755E;
$yellow:#E8CB02;
$dark-gray:#49575E;
//$yellow:#FDC13F;
$orange:#FF8600;
$dark-orange:#F3783A;
//$orange:#F9A53E;
$red:#A41227;


@include tweak(add-bkg-grad-hlite1) {
    background: $dark-orange;
    background: -webkit-gradient(linear, 0 0, 0 100%, from($dark-orange), to($yellow));
    background: -webkit-linear-gradient($dark-orange 60%, $yellow 100%);
    background: -moz-linear-gradient($dark-orange 60%, $yellow 100%);
    background: -o-linear-gradient($dark-orange 60%, $yellow 100%);
    background: linear-gradient($dark-orange 60%, $yellow 100%);
}


@include tweak(add-bkg-hlite1) {
    background:$orange;
}

@include tweak(add-bkg-hlite2) {
    background:$red;
}

@include tweak(add-bkg-hlite3) {
    background:$green;
}

@include tweak(add-bkg-hlite4) {
    background:$blue;
}

@include tweak(add-bkg-dark) {
    background:dark-gray;
}