.wrap {
    @include container(59.375em); 
}

@include tweak(two-column-aside) {
    @include container;
    
    aside {
        @include span(6 of 12);
        &:last-child {
          @include last;
        }
    }
    
}

@include tweak(two-column-third-aside) {
    @include container;
    
    aside {
        
        &:first-child {
          @include span(5 of 12);
        }
        
        &:last-child {
            @include span(7 of 12);
            @include last;
        }
    }
    
}

@include tweak(two-column-third-with-space-aside) {
    @include container;
    
    aside {
        
        &:first-child {
          @include span(5 of 12);
        }
        
        &:last-child {
            @include span(7 of 12);
        
            @include last;
        }
    }
    
}

