@import "../../bower_components/modular-scale/stylesheets/modular-scale";

//$ms-base: 16px;
//$ms-ratio: 1.333;

$ms-base: 16px;
$ms-ratio: 1.333;
$lh-ratio: 1.333;
$ff1: 'Bree Serif', Georgia, serif;
$ff2: 'Open Sans', Verdana, Helvetica, sans-serif;

body {
    font-size: 100%;
    line-height: ms(1);
    font-family:$ff2;
}

p {
    font-size:ms(0);
    line-height: ms(1) * $lh-ratio;
    
    a {
        color:$orange;
    }

}

a {
    text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
    font-family:$ff1;
}

p,a,li {
    font-family:$ff2;
}

h1,.h1 {
    font-size:ms(6);
    line-height: ms(6) * $lh-ratio;
}

h2,.h2 {
    font-size:ms(5);  
    line-height: ms(5) * $lh-ratio;
}

h3,.h3 {
    font-size:ms(4);
    line-height: ms(4) * $lh-ratio;
}

h4,.h4 {
    font-size:ms(3); 
    line-height: ms(3) * $lh-ratio;
}

h5,.h5 {
    font-size:ms(2);
    line-height: ms(2) * $lh-ratio;
}

h6,.h6 {
    font-size:ms(1);  
    line-height: ms(1) * $lh-ratio;
}

@include tweak(centered-titles) {
    h1,h2 {text-align:center;}
}
