// < Footer Linkss >
nav.nav-footer-links.add-bkg-dark
	.wrap
		ul.nav-footer-links__ul
			li.nav-footer-links__li
				a(href='#') Contact us
			li.nav-footer-links__li
				a(href='#') About us
			li.nav-footer-links__li
				a(href='#') Legal
			li.nav-footer-links__li
				a(href='#') Privacy policy
// < Footer Linkss >