// < Logo and Header >
// .wrap
//	header.site-header 
//		.site-strapline
//			// h1.h3
//			//	| Simple Pensions 
//			//	span.h4 Straight Forward Advice
//			img(src="img/sp-logo-text.png")
// < Logo and Header >