// < Navigation Segments >
nav.nav-segments
	.wrap
		ul.nav-segments__ul
			li.nav-segments__li.--is-highlighted
				| Where are you in your retirement Journey?
			li.nav-segments__li
				a(href='/segments/Years-Away.html') Years Away
			li.nav-segments__li
				a(href='/segments/Im-nearly-Retired.html') Nearly Retired
			li.nav-segments__li
				a(href='/segments/I-am-Retiring-Now.html') Retiring Now
			li.nav-segments__li
				a(href='/segments/Just-Retired.html') Just retired
// < Navigation Segments >