// < Navigation Top Subjects >
.wrap
	nav(class="nav-top-subjects +two-column-third-aside")
		aside
			a(href="/")
				img(src="/img/sp-logo-text.png")
		aside
			ul.nav-top-subjects__ul
				li.nav-top-subjects__li
					a(class="+add-bkg-hlite1" href="/pension_advice.html") Pension Advice
				li.nav-top-subjects__li
					a(class='+add-bkg-hlite2', href='#') Annunties   
				li.nav-top-subjects__li
					a(class='+add-bkg-hlite3', href='#') Drawdown 
				li.nav-top-subjects__li
					a(class='+add-bkg-hlite4', href='#') Pension Advice
// < Navigation Top Subjects >
