// Questions Navigation
nav.nav-questions.wrap
	.nav-questions__set
		h2 Why?
		ul.nav-questions__ul
			li.nav-questions__li
				a(href='/questions/Why-do-I-need-independant-advice.html') Why do I need independant advice?
			li.nav-questions__li
				a(href='#') Why its never to early to take out a pension?
			li.nav-questions__li
				a(href='#') Why is there a pensions revolution?
			li.nav-questions__li
				a(href='#') Why should I invest my pension?
	.nav-questions__set
		h2 When?
		ul.nav-questions__ul
			li.nav-questions__li
				a(href='#') When can I begin to draw my pendion?
			li.nav-questions__li
				a(href='#') When do the pension changes come into effect?
			li.nav-questions__li
				a(href='#') When can I take drawdown?
			li.nav-questions__li
				a(href='#') When should I use an Annunity?
	.nav-questions__set
		h2 What?
		ul.nav-questions__ul
			li.nav-questions__li
				a(href='#') What is Drawdown?
			li.nav-questions__li
				a(href='#') What is an Annuity?
			li.nav-questions__li
				a(href='#') What is an Employee Scheme?
			li.nav-questions__li
				a(href='#') What is my partner entitled to?
	.nav-questions__set
		h2 How?
		ul.nav-questions__ul
			li.nav-questions__li
				a(href='#') How much income can I obtain from my pension?
			li.nav-questions__li
				a(href='#') How much should I pay into a private pension?
			li.nav-questions__li
				a(href='#') How much of my pension can I leave to my partner?
			li.nav-questions__li
				a(href='#') How do I find a pension advisor?
// Questions Navigation