extends layout

block content
	include _nav-top-subjects.jade
	include _logo-n-header.jade
	include _navigation-segments.jade
	include callouts/_callout-home.jade
	include _nav-questions.jade
	include callouts/_callout-confidence-builder.jade
	include callouts/_advice-callout.jade
	include callouts/_callout-footer.jade
	//include callouts/_callout-double.jade
	include _footer.jade
