extends layout

block content
	include _nav-top-subjects.jade
	include _logo-n-header.jade
	include _navigation-segments.jade
	// < Main Callout >
	section.callout-main(class='+add-bkg-grad-hlite1')
		.wrap(class='+two-column-aside')
			aside
				form.callout-main__form
					label
						input(type='text', placeholder='Full Name', tabindex='1', autofocus='autofocus')
					label
						input(type='email', placeholder='Email', tabindex='1')
					label
						input(type='text', placeholder='Address ', tabindex='1')
					label
						input(type='text', placeholder='Postcode', tabindex='1')
					label
						input(type='text', placeholder='Telephone', tabindex='1')
					.submit-wrapper
						button.btn(type='submit', tabindex='1') Find An Advisor
			aside
				hgroup
					h1.callout-main__title.h3
						| Pension Advice 
						br
						| That you can rely on
	// < Main Callout >
	.wrap
		.split-pane(class="@segment")
			.split-pane__split-left
				include callouts/_callout-button.jade
			.split-pane__split-right
				h5 Fancy an easy pay rise? Start a pension and you've got one. Not only will the Government top up your pension pot, but if you're employed, your employer may also HAVE to help.
				p Under the new rules, many people will end up in a company pension so all they need to do is go ahead with what their employer offers. To pocket any contributions your employer makes, you need to agree to be part of its scheme. If you opt for your own pension (where only you contribute) then you will need to scour the market for the best deals. Unless you are financially savvy, it's usually best to get advice from an independent financial adviser (IFA), given there are a whole host of charges to watch out for. Since January 2013, IFAs can no longer be paid in commission, so you'll have to pay a fee for advice. See our Financial Advice guide for how to pick an IFA, including what getting advice will cost you.
	include callouts/_callout-confidence-builder.jade
	include _footer.jade