extends layout

block content
	include _nav-top-subjects.jade
	include _logo-n-header.jade
	include _navigation-segments.jade
	// < Main Callout >
	section.callout-main(class='+add-bkg-hlite4')
		.wrap
			h3(class="+readable-title +center-n-upcase")= entry.title

	// < Main Callout >
	include segments/_body.jade
	include callouts/_callout-confidence-builder.jade

	include _footer.jade