// < Advice Callout >
section.callout-large-n-bright(class='+add-bkg-grad-hlite1 +centered-titles')
	.wrap
		h1.callout-large-n-bright__title Unbiased Financial Advice
		h2.callout-large-n-bright__sub-title Insist upon a financial advisor regulated by the FCA
		div(class='+inline-two-colums')
			h3.callout-large-n-bright__small-n-strong Not all Financial advisors are the same
			a.btn(href='#') Free Consultation
// < Advice Callout >