// < Main Callout >
section.callout-main(class='+add-bkg-grad-hlite1')
	.wrap(class='+two-column-aside')
		aside
			form.callout-main__form
				label
					input(type='text', placeholder='Full Name', tabindex='1', autofocus='autofocus')
				label
					input(type='email', placeholder='Email', tabindex='1')
				label
					input(type='text', placeholder='Address ', tabindex='1')
				label
					input(type='text', placeholder='Postcode', tabindex='1')
				label
					input(type='text', placeholder='Telephone', tabindex='1')
				.submit-wrapper
					button.btn(type='submit', tabindex='1') Find An Advisor
		aside
			hgroup
				h1.callout-main__title.h3
					| The Pension Market 
					br
					| is changing
				h1.callout-main__sub-title.h5 Have you got all the Facts?
				img(src='/img/pencil-full.png', alt='This picture loads on non-supporting browsers.')
// < Main Callout >