// callout-confidence-builder
section.callout-confidence-builder(class='+add-secondary-bkg')
	.wrap
		article
			h2.h5 Who we are 
			p
				| At Simple pensions our goal is to provide retirees with access to independant advice and
				| support they need to make the right choices for their retirement
			h2.h5 Our Partners
			figure
				picture

		article
			h2.h5 Our Promise
			p
				| When you use our service to connect with an IFA in your area we guarantee the following:
			ol.fa-ul
				li.callout-confidence-builder__li
					i.fa-li.fa.fa-check
					|  FREE connection to a fully accredited independent financial advisor in your area
				li.callout-confidence-builder__li
					i.fa-li.fa.fa-check
					|  FREE initial consultation &ndash; to be conducted face to face or over the telephone
				li.callout-confidence-builder__li
					i.fa-li.fa.fa-check
					|  No hidden charges and no obligation to buy any product or service
				li.callout-confidence-builder__li
					i.fa-li.fa.fa-check
					|   Impartial, plain-English advice on all your retirement options
				li.callout-confidence-builder__li
					i.fa-li.fa.fa-check
					|  Personally tailored quotes based on whole market product comparisons.
// callout-confidence-builder