// < Callout Form with Graphic >
.callout-form-with-graphic(class='+add-bkg-hlite3')
	.wrap(class='+two-column-third-with-space-aside')
		aside
			form.callout-form-with-graphic__form
				label
					input(type='text', placeholder='Username', tabindex='1', autofocus='autofocus')
				label
					input(type='email', placeholder='Email', tabindex='1')
				label
					input(type='text', placeholder='Address', tabindex='1')
				label
					input(type='text', placeholder='Postcode', tabindex='1')
				label
					input(type='text', placeholder='Telephone', tabindex='1')
				.submit-wrapper
					button.btn(type='submit', tabindex='1') Free Consultation
		aside
			h2
				| Clear straight Forward 
				br
				|  advice 
			img(src='/img/arrow.gif', alt='This picture loads on non-supporting browsers.')
// < Callout Form with Graphic >