@import ".././bower_components/susy/sass/susy";

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 950px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
  );

/* Makes border-box properties */
@include border-box-sizing;

@import ".././bower_components//Hover/scss/hover";
@import ".././bower_components/mosto/scss/forms.scss";


@import "vendor/all";
@import "base/all";
@import "components/all";

