@import "nav-questions";
@import "nav-segments";
@import "nav-top-subjects";
@import "nav-footer-links";
@import "callout-main";
@import "callout-confidence-builder";
@import "reviews";
@import "calculator-drawdown";
@import "callout-large-n-bright";
@import "callout-form-with-graphic";
@import "callout-double";
@import "split-pane";

@include tweak(readable-title) {
  padding-bottom: 1rem;
}

@include tweak(center-n-upcase) {
  text-transform: uppercase;
  text-align: center;
}

.site-header {
    padding-top: ms(2) /2;
    padding-bottom: ms(2) /2;
    
    .site-strapline h1 {
        color:$dark-gray;
        
        span {
            color:lighten($dark-gray,15%);
            text-align:right;
        }
    }
}

.btn {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  outline: none;
  line-height: 1em;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans',Frutiger,'Frutiger Linotype','Dejavu Sans','Helvetica Neue',Arial,sans-serif;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
    background-color: $blue;
      padding: 10px 15px;
  font-weight: bold;
  padding: 21px 21px;
  font-weight: bold;
  font-size: 21px;
  margin-top: 21px;
}
