@include component(callout-form-with-graphic) {
    padding-top: ms(2);
        padding-bottom: ms(2);
        
         h2 {
        font-size:ms(5); 
        line-height: ms(5);
        color:white;
        text-transform:uppercase;
    }
    
    img {
          width: 50%;
  margin-top: -80px;
  margin-left: 170px;
    }
    
    @include part(sub-title) {
        font-size:ms(3);  
        line-height: ms(3) * $lh-ratio;
    }
    
    .btn {
         @include push();
    }
}