@include component(callout-double) {

	padding-top: ms(2);
	padding-bottom: ms(2);
	/*
	@include part(red) {
		background-color: $red;
		color: white;
	}

	@include part(gray) {
		background-color: $dark_gray;
		color: white;
	}
	*/
}