@include component(callout-confidence-builder) {
    
    padding-top: ms(2);
    padding-bottom: ms(2)+16;
   
    color:white;

    article {
        
        font-weight:bold;
        
        @include span(6 of 12); 
        
        &:last-child {
          @include last;
        }
        
        p {
            margin-top:14px;
            margin-bottom:14px;
            
            &:last-child {
              margin-bottom:0px;
            }
        }
        
        li {
            margin-top:21px;
        }
        
    }
}

@include tweak(add-secondary-bkg) {
    background:$blue;
}