@include component(callout-large-n-bright) {
    color:white;
   padding-top: ms(2);
   padding-bottom: ms(2);
   
    @include part(title) {
        font-size:ms(5); 
        line-height: ms(5);
    }
    
    @include part(sub-title) {
        font-size:ms(3);  
        line-height: ms(3) * $lh-ratio;
    }
    
    @include part(small-n-strong) {
        padding-top: ms(2);
   padding-bottom: ms(2);
        font-size:ms(3);  
        line-height: ms(3) * $lh-ratio;
        font-weight:bold;
        color:black;
    }
}

@include tweak(inline-two-colums) {
    h3 {
        display:inline-block;
        padding-right: 28px;
    }
    .btn {
        //@include pulse;
    }
}
