@include component(callout-main) {
   color:white;
   padding-top: ms(2);
   padding-bottom: ms(2);
   
   @include part(title) {
      font-size:ms(5); 
    line-height: ms(5);
   }
   
   @include part(title,sub-title) {
      //font-weight:bold;
      text-transform:uppercase;
   }
   
   @include part(sub-title) {
      margin-top: ms(2);
      font-weight:normal;
   }
   
   img {
       width: 125%;
  margin-top: 0px;
  margin-left: -140px;
   }
   
   .btn {
      @include push();
   }
    
}