// Component
// Nav Questions
// on desktop this is a 4 column Navigational

@include component(nav-questions) {
    
        margin-top: ms(2);
        margin-bottom: ms(2);
    
    h2 {
        font-size:ms(1);
        line-height: ms(1) * $lh-ratio;
        border-bottom:2px solid $orange;
    }
    
    @include part(set) {
        
        @include span(3 of 12); 
        
        &:last-child {
          @include last;
        }
        
    }
    
    @include part(ul) {
        list-style:none;
        margin:0;
        padding:0;
    }
    
    @include part(li) {
        display:inline;    
        
        a {
            display:inline-block;
            padding-top:10px;
            padding-bottom:10px;
            color:lighten($blue,10%);

            &:hover {
                color:$orange;
            }
        }

    }
}