@include component(nav-footer-links) {
    
    background:$dark-gray;
    color:white;
    
    @include part(ul) {
        
        list-style:none;
        margin:0;
        padding:0;
        text-align:right;
        
    }
    
    @include part(li) {
        display:inline;    
        
        a {
            display:inline-block;
            padding:10px;
            color:white;
            
        }
        
    }
    
}