@include component(nav-top-subjects) {
    
    @include part(ul) {

        list-style:none;
        margin:0;
        padding:0;
        text-align:right;
        
    }
    
    @include part(li) {
        display:inline;    
        
        a {
            color:white;
            display:inline-block;
            padding:10px;
            
            &:hover {
              @include push();  
              //background:$yellow;
              
            }
        }
        
    }
    
}