@include component(nav-segments) {
    
    background:#25353D;
    
    @include part(ul) {
        
        list-style:none;
        margin:0;
        padding:0;
        text-align:left;
        
    }
    
    @include part(li) {
        display:inline;    
        
        a {
            color:white;
            display:inline-block;
            padding:14px;
            
            &:hover {
                color: $orange;
            }
        }
        
        @include option(is-highlighted) {
            color:$orange;
            font-weight:bold;
        }
    }
    
}

