@include component(reviews) {
    @include part(title) {
    }
    
    @include part(single-review) {
        
    }
    
    @include part(review-body) {
        @extend .h5;
    }
}

@include tweak(make-disapear) {
    display:none;
}