@include component(split-pane) {
	display: -webkit-flex;
  	display: flex;
  	padding-bottom: 3rem;

  	@include part(split-left) {
  		height: 100%;
  		width: 40%;
  		//padding-left: 4rem;
  		padding-right: 1rem;
  		padding-top: 3rem;

  		aside {
  			padding: 1em;
  		}
	}


	@include part(split-right) {
  		height: 100%;
  		width: 60%;
  		padding-left: 1rem;
  		padding-top: 3rem;
  		//padding-right: 4rem;

  		h5 {
  			color: $green;
  			padding-bottom: 1rem;
        padding-top: 1rem;
  		}

      ul {
        padding-left: 0;
        margin-left: 2.14285714em;
        list-style-type: none;

        li {
          position: relative;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          padding-bottom: 0.5em;


            &:before {
              content: "\f14a";
                position: absolute;
                left: -2.14285714em;
                width: 2.14285714em;
                //top: 0.14285714em;
                text-align: center;
                color: $blue;
            }
        }
      }

      blockquote {
        padding: 1rem; 
        color:white;

        p {
          font-size:ms(0);
          line-height: ms(0) * $lh-ratio;
        }

        ul {
          margin-top: 1rem;
        }

        li:before {
          color: white;
        }

      }
	}

	@include part(callout) {
		color:white;
	}
  
}

@include location(question) {
  @include component(split-pane) {
    @include part(split-right) {
      h5 {
        color: $green;
      }
      blockquote {
        background: $blue; 
      }
    }
  }
}

@include location(segment) {
  @include component(split-pane) {
    @include part(split-right) {
      h5 {
        color: $blue;
      }
      blockquote {
        background: $green; 
      }
    }
  }
}